@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.switcher-item-wrapper {
  &.selected {
    animation: gradientAnimation 1s ease infinite;
    background-size: 300% 300%;
    background: linear-gradient(45deg, #ffb200, #df3238);
  }
  .switcher-link {
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    top: 1px;
    left: 1px;
  }
}
